:host button {
    background-color: #00e6e6;
    color: white;
    font-weight: bold;
    margin-top: 50pt;
  }

  :host .tekst {
    color: #00e6e6;
  }

  :host .tekst2 {
    color: #00e6e6;
    font-size:  20pt;
    margin-top: 50pt;
  }

  :host body {
    background-image: url("back.jpg");
    background-position: 0px, 0px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
   }